* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head{
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: rgb(232, 90, 90);
  background: aliceblue;
}

.line{
  width: 100%;
  
}

/* .subHead{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 2px solid ;
margin: 10px;
padding: 3px;
background: aliceblue;
text-align: center;

} */
/* .olList{
  display: grid;
  grid-template-columns: 30% 30%;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
} */



/*.imgSection{
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  background: aliceblue;
  /* for making the element lie in center */
 /* align-items: center; 
}*/

/* .imgSection a{
 margin: 10px;
 text-align: center;
 text-decoration: none;
 color: black;
}
.imgSection img{
  margin: 10px;
} */

.cards{
  padding: 10px;
  margin: 10px 30px 40px 30px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 12px;
  column-gap: 12px;
  justify-content: center;
}

.card{
  margin: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* width: 20%; */
  /* height: 75%; */
  border: 2px double black;
  border-bottom-style: groove;
  box-shadow: 10px 10px 5px 2px grey;
}

.card .title{
  text-align: center;
  padding: 10px;
  color: rgb(232, 90, 90);
  font-size: x-large;
}
.card .img{
  text-align: center;
  /* padding: 10px; */
}

.card .img img{
 height: 200px;
 width: 200px;

}

.card .watch{
  text-align: center;
}
.card .watch button{
 padding: 12px;
 margin: 12px;
 border-radius: 5px;
 background-color: aliceblue;
 color: rgb(232, 90, 90);
 cursor: pointer;
}
.card .watch button:hover{
  background-color: rgb(232, 90, 90);
  color: aliceblue;
}





/* responsiveness */

@media screen and (min-width: 279px){
  /* For tablets: */
  .cards{grid-template-columns: 75%;}

  .card .title{font-size: medium;}

  .card .img img{height: 150px;width: 150px;}

  /* .card .watch button{padding: 7px; } */

  
}

@media screen and (min-width: 100px){
  .cards{grid-template-columns: 90%;}

  .card .title{font-size: smaller;font-weight: 700;}

  .card .img img{height: 75px;width: 75px;}

  .card .watch button{padding: 5px; }
}

@media screen and (min-width: 768px){
  /* for desktop */
  .cards{grid-template-columns: 30% 30% 30%;}
  
  .card .title{font-size: x-large;font-weight: 700;}

  .card .img img{height: 200px;width: 200px;}

  .card .watch button{padding: 10px; }
}


.footer{
  background: aliceblue;
  padding: 10px;
  text-align: center;
  font-size: large;
  color: rgb(232, 90, 90)
}